<section class="mat-typography">
  <h2>Introduction</h2>
  <mat-form-field>
    <input matInput placeholder="label" value="value" #nice>
  </mat-form-field>
  <button mat-button (click)="nice.value='12'">text</button>


  <div class="panel">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos non saepe nisi reprehenderit ratione
    numquam adipisci accusantium iure, quia iusto laudantium sapiente eligendi nostrum nesciunt! Reiciendis minima
    similique exercitationem placeat!

    <button mat-fab>
      <mat-icon aria-label="label">icon</mat-icon>
    </button>

  </div>
  <div class="panel">Ex omnis expedita alias dolorum. Provident quo itaque veniam. Eveniet voluptatum asperiores
    nesciunt
    aliquam labore aspernatur molestias, id laboriosam aliquid! Ex aperiam consectetur fuga voluptate incidunt expedita
    suscipit voluptates quaerat.</div>
  <div class="panel">Enim ad iusto ab ut explicabo inventore asperiores doloribus earum dolore! Excepturi itaque qui
    voluptatum, blanditiis quam ipsum soluta quo sit beatae natus quod tenetur, cum a, id ad facere.</div>
  <div class="panel">Optio sit excepturi reprehenderit! Doloremque ex neque nemo voluptate, necessitatibus adipisci
    nesciunt nobis culpa eos aliquam repellendus quia repellat minus placeat ratione officia. Vitae nulla voluptas
    consequatur sequi esse nesciunt?</div>
  <div class="panel">Corporis repellat cumque debitis veritatis dolore suscipit beatae cum saepe nobis excepturi labore
    tempore, veniam quidem. Consequatur incidunt cum veritatis quas inventore temporibus repellendus possimus fuga
    voluptatem corrupti, aut dolores?</div>
</section>
